@import "options"

*
  box-sizing: border-box
  padding: 0
  margin: 0

html
  color-scheme: dark

html, body
  max-width: 100vw
  overflow-x: hidden

body
  color: $primary-foreground-color
  background: $primary-background-color

a
  color: inherit
  text-decoration: none
