$primary-foreground-color: #EEEEEE
$accent-foreground-color: #111111

$primary-background-color: #1A1A1A
$accent-background-color: #FFFF00
$selection-background-color: lighten($primary-background-color, 5)
