@import "../styles/options"
@import "./Contacts.module"

.contact
  transition: all .5s, outline 50ms
  display: flex
  align-items: center

  .iconWrapper
    background-color: $accent-background-color
    color: $accent-foreground-color
    width: $size
    height: $size
    padding: 8px

    display: flex
    justify-content: center
    align-items: center

  .descriptionWrapper
    padding: 0 16px

    h6, p
      margin: 0

    h6
      font-size: 1.2em

    p
      font-size: 0.9em

  &:hover
    background-color: $selection-background-color
    cursor: pointer

  &:active
    outline: $accent-background-color solid 2px
